/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
.env
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.vagrant
phpunit.xml
composer.lock
package-lock.json
**/.DS_STORE
.editorconfig
/public/mix-manifest.json
public/mix-manifest.json
.htaccess
public/js/app.js
public/js/site.js
tracksheet.code-workspace
